## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>


1. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
2. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
3. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
4. O arquivo da base de dados não deve ser alterado.

## Base de dados

Nessa avaliação será utilizado a base de dados referente ao desempenho dos alunos do Instituto Metropole Digital em disciplinas do núcleo comum do curso de Bacharelado em Tecnologia da Informação. As informações sobre os alunos e disciplinas estão codificadas a fim de manter o anonimato e privacidade dos dados. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

## a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quais as colunas da base de dados?
2. (0.5 pontos)Quais colunas apresentam valores nulos (faltantes)? Em caso afirmativo, quantas linhas de cada coluna apresentam valores nulos?
3. (0.5 pontos) Quantos CEPs diferentes estão presentes na base de dados?
4. (0.4 pontos) Quantos alunos foram registrados?
5. (0.2 pontos) Qual o período em anos dos registros presentes na base de dados?
6. (0.2 ponto) Quantas disciplinas foram analisadas?

In [5]:
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

['Notas']

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
1,0,59015430,2014,1,CANCELADO,2015,1,8.0,0,Aprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0

In [8]:
#a 1)
dados.columns.tolist()

['a_ID',
 'CEP',
 'ano_ingresso',
 'periodo_ingresso',
 'status',
 'ano_disciplina',
 'periodo_disciplina',
 'nota',
 'disciplina_ID',
 'status.disciplina',
 'enen-nota']

In [7]:
#a 2) 
dados.isnull().sum()

a_ID                    0
CEP                     0
ano_ingresso            0
periodo_ingresso        0
status                  0
ano_disciplina          0
periodo_disciplina      0
nota                    0
disciplina_ID           0
status.disciplina       0
enen-nota             289
dtype: int64

In [9]:
#a 3)
dados.CEP.unique().shape

(627,)

In [10]:
#a 4)
dados.a_ID.unique().shape

(900,)

In [11]:
#a 5)
dados.ano_disciplina.unique()

array([2014, 2015, 2016, 2017], dtype=int64)

In [12]:
#a 6)
dados.disciplina_ID.unique().shape

(7,)

## b) (2.0 pontos) Investigando a localização dos alunos


1. (2.0 pontos) Listar a quantidade total de alunos presentes nos cinco CEPs com mais registros.

<dica - consultar as funções duplicated() e value_counts()

In [14]:
# <inserir o seu código aqui>
dados[~dados.a_ID.duplicated()] #Retirar os dados duplicados

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0
6,4,59064245,2014,1,CANCELADO,2014,2,2.1,0,Reprovado,642.0
8,5,59112430,2014,1,ATIVO,2014,2,8.9,0,Aprovado,581.0
9,6,59152780,2014,1,CANCELADO,2014,2,2.4,0,Reprovado,660.0
12,7,59020330,2014,1,ATIVO,2014,2,5.6,0,Aprovado,647.0
13,8,59151610,2014,1,ATIVO,2014,2,1.5,0,Reprovado,621.0
15,9,59145510,2014,1,CANCELADO,2014,2,0.8,0,Reprovado,663.0
18,10,59075260,2014,1,CANCELADO,2014,2,5.1,0,Aprovado,698.0
20,11,59086620,2014,1,CANCELADO,2014,2,0.0,0,Reprovado,621.0
21,12,59547000,2014,1,ATIVO,2014,2,2.6,0,Reprovado,634.0
23,13,59082180,2014,1,CANCELADO,2014,2,1.6,0,Reprovado,667.0
25,14,59150500,2014,1,ATIVO,2014,2,1.2,0,Reprovado,630.0
28,15,59151800,2014,1,ATIVO,2014,2,8.5,0,Aprovado,662.0
29,16,59810000,2014,1,ATIVO,2014,2,9.8,0,Aprovado,613.0
30,17,59115190,2014,1,TRANCADO,2014,2,2.0,0,Reprovado,634.0
34,18,59050350,2014,1,CANCELADO,2014,2,3.1,0,Reprovado,662.0
35,19,59086300,2014,1,CANCELADO,2015,2,0.0,0,Reprovado,695.0
36,20,59090620,2014,1,ATIVO,2014,2,6.4,0,Aprovado,616.0
37,21,59324000,2014,1,ATIVO,2014,2,7.5,0,Aprovado,689.0
38,22,59054550,2014,1,CANCELADO,2014,2,3.4,0,Reprovado,662.0
39,23,59070750,2014,2,ATIVO,2015,1,8.9,0,Aprovado,553.0
40,24,59280000,2014,1,CANCELADO,2015,1,7.6,0,Aprovado,610.0
41,25,59115685,2014,1,ATIVO,2016,1,7.3,0,Aprovado,695.0
42,26,59290000,2014,1,ATIVO,2014,2,1.1,0,Reprovado,617.0
45,27,59040240,2014,1,ATIVO,2014,1,5.9,0,Aprovado,733.0
46,28,59149356,2014,1,CANCELADO,2014,2,0.0,0,Reprovado,552.0
47,29,59063280,2014,1,CANCELADO,2015,1,1.9,0,Reprovado,649.0
...,...,...,...,...,...,...,...,...,...,...,...
3967,870,59280000,2016,1,ATIVO,2016,1,0.7,1,Reprovado,620.0
3969,871,59290000,2016,1,ATIVO,2016,1,7.1,1,Aprovado,644.0
3970,872,0,2016,2,ATIVO,2016,2,8.0,1,Aprovado,NaN
3972,873,59182000,2016,1,ATIVO,2016,1,7.9,1,Aprovado,636.0
3991,874,59152820,2016,1,ATIVO,2016,1,5.1,2,Aprovado,690.0
4011,875,59078420,2016,1,TRANCADO,2016,1,3.6,2,Reprovado,629.0
4023,876,59152250,2016,1,CANCELADO,2016,1,0.0,2,Reprovado,654.0
4076,877,59054560,2016,1,ATIVO,2016,1,1.3,2,Reprovado,653.0
4081,878,59123580,2016,1,CANCELADO,2016,1,2.9,2,Reprovado,671.0
4102,879,0,2016,1,ATIVO,2016,1,1.0,2,Reprovado,NaN
4104,880,59141210,2016,2,ATIVO,2016,2,7.4,2,Aprovado,591.0
4202,881,59020310,2016,1,ATIVO,2016,1,1.2,2,Reprovado,647.0
4238,882,59280000,2016,1,TRANCADO,2016,1,0.0,2,Reprovado,604.0
4320,883,59152902,2016,2,CANCELADO,2016,2,1.0,2,Reprovado,604.0
4408,884,59138650,2016,1,FORMANDO,2016,2,5.3,4,Aprovado,645.0
4570,885,59148670,2016,1,ATIVO,2016,1,7.7,4,Aprovado,714.0
4592,886,0,2016,1,CANCELADO,2016,1,5.8,4,Aprovado,NaN
4644,887,0,2016,1,ATIVO,2016,2,0.0,5,Reprovado,NaN
4672,888,59064902,2016,1,ATIVO,2016,1,0.9,5,Reprovado,635.0
4678,889,59114020,2016,1,ATIVO,2016,2,3.0,5,Reprovado,594.0
4682,890,0,2016,1,ATIVO,2016,2,1.8,5,Reprovado,NaN
4688,891,0,2016,1,ATIVO,2016,2,0.0,5,Reprovado,NaN
4689,892,58178000,2016,1,ATIVO,2016,1,1.6,5,Reprovado,602.0
4704,893,59161050,2016,1,ATIVO,2016,2,5.2,5,Aprovado,773.0
4729,894,59115110,2016,1,ATIVO,2016,2,0.1,5,Reprovado,638.0
4734,895,0,2016,1,ATIVO,2016,2,1.4,5,Reprovado,NaN
4742,896,59150200,2016,1,ATIVO,2016,2,6.2,5,Aprovado,714.0
4743,897,59056340,2016,1,ATIVO,2016,2,5.6,5,Aprovado,674.0
4759,898,59020660,2016,1,ATIVO,2016,1,4.6,6,Reprovado,674.0
4766,899,59078290,2016,1,CANCELADO,2016,1,0.0,6,Reprovado,688.0

In [16]:
#b)
dados[~dados.a_ID.duplicated()].CEP.value_counts()[0:5].sum() #Retirar os dados duplicados e conta os cinco CEPS que mais apareceram

141

In [12]:
dados[~dados.a_ID.duplicated()].CEP.value_counts()[0:5].sum()

141

## c) (6.0 pontos) Investigando o desempenho das disciplinas

1. (1 ponto) Calcular as notas médias para cada disciplina.
2. (1,5 pontos) Calcular as notas médias para cada disciplina agrupadas por ano.
3. (2,0 pontos) Calcular o número de alunos aprovados e reprovados por disciplina e agrupados por ano.
4. (1,5 pontos) Calcular a quantidade de alunos classificados de acordo com a coluna status da base de dados.

In [25]:
# <inserir o seu código aqui>
#c 1)
import numpy as np
dados.pivot_table(index="disciplina_ID", values="nota", aggfunc=np.mean)

                   nota
disciplina_ID
0              4.618657
1              6.539691
2              4.713848
3              3.488725
4              5.431602
5              3.171392
6              4.067869

In [27]:
#c 2)
dados.pivot_table(index=["disciplina_ID","ano_disciplina"], values="nota", aggfunc=np.mean)

                                  nota
disciplina_ID ano_disciplina
0             2014            4.504027
              2015            4.812931
              2016            4.521799
1             2014            6.039713
              2015            7.123105
              2016            6.409059
              2017            0.000000
2             2014            5.595745
              2015            5.892720
              2016            3.423706
3             2014            3.472826
              2015            3.944318
              2016            3.200366
4             2014            6.034228
              2015            6.102899
              2016            5.555806
              2017            2.562338
5             2014            3.705263
              2015            3.752669
              2016            2.402115
6             2014            5.665323
              2015            4.080435
              2016            3.336496

In [3]:
#3
dados.pivot_table(index=["disciplina_ID", "ano_disciplina", "status.disciplina"], values="nota",aggfunc="count")

                                                nota
disciplina_ID ano_disciplina status.disciplina
0             2014           Aprovado             76
                             Reprovado            73
              2015           Aprovado            127
                             Reprovado           105
              2016           Aprovado            146
                             Reprovado           143
1             2014           Aprovado            174
                             Reprovado            35
              2015           Aprovado            248
                             Reprovado            29
              2016           Aprovado            245
                             Reprovado            42
              2017           Reprovado             3
2             2014           Aprovado            141
                             Reprovado            47
              2015           Aprovado            214
                             Reprovado            47
              2016           Aprovado            138
                             Reprovado           229
3             2014           Aprovado             36
                             Reprovado            56
              2015           Aprovado             76
                             Reprovado           100
              2016           Aprovado             95
                             Reprovado           178
4             2014           Aprovado            135
                             Reprovado            14
              2015           Aprovado            122
                             Reprovado            16
              2016           Aprovado            252
                             Reprovado            58
              2017           Aprovado              2
                             Reprovado            75
5             2014           Aprovado             66
                             Reprovado           105
              2015           Aprovado            116
                             Reprovado           165
              2016           Aprovado             78
                             Reprovado           253
6             2014           Aprovado             91
                             Reprovado            33
              2015           Aprovado             93
                             Reprovado            91
              2016           Aprovado             95
                             Reprovado           179

In [4]:
#4
dados[~dados.a_ID.duplicated()].pivot_table(index=["status"], values="nota",aggfunc="count")

           nota
status
ATIVO       586
CANCELADO   244
CONCLUIDO     8
FORMADO       2
FORMANDO      9
TRANCADO     51